@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Lalezar";
        src: local("Lalezar"), url("../fonts/Lalezar.ttf") format("truetype");
    }
    @font-face {
        font-family: "Yekan";
        src: local("Yekan"), url("../fonts/Yekan.ttf") format("truetype");
    }
}

@layer components {
    .container {
        margin: 0 auto;
        max-width: 1200px; 
    }
}