@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Lalezar";
        src: local("Lalezar"), url("../fonts/Lalezar.ttf") format("truetype");
        /* font-display: swap; */
    }
    @font-face {
        font-family: "Yekan";
        src: local("Yekan"), url("../fonts/Yekan.ttf") format("truetype");
        /* font-display: swap; */
    }
}

@layer components {
    .container {
        margin: 0 auto;
        max-width: 1200px; 
    }
}

/* responsive 

@media screen and (min-width : 768px) {
    .katooni-item-col{
        width: 50%;
    }
}
@media screen and (min-width : 992px) {
    .katooni-item-col{
        width: 25%;
    }
} */